/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.fctable {
    margin: 0 auto;
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.fctable, table {
    width: 95%;
}

#grand_total {
    width: 50%;
}

@media (min-width: 900px) {
    .fctable, table {
        width: 50%;
    }

    #grand_total {
        width: 30%;
    }
}